
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="over" color="primary">
    <mat-nav-list>
      <a mat-list-item routerLink="/Registrar" routerLinkActive="active" (click)="sidenav.close()">Registrar Hospital</a>
      <a mat-list-item routerLink="/Modificar" routerLinkActive="active" (click)="sidenav.close()">Modificar Hospital</a>
      <a mat-list-item routerLink="/Eliminar" routerLinkActive="active" (click)="sidenav.close()">Eliminar Hospital</a>
      <a mat-list-item routerLink="/Buscar" routerLinkActive="active" (click)="sidenav.close()">Buscar por id</a>
      <a mat-list-item routerLink="/Login" routerLinkActive="active" (click)="sidenav.close()">Cerrar Sesión</a>
    </mat-nav-list>
    
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Menú Principal</span>
  </mat-toolbar>
  <mat-card class="example-card">
    <mat-card-header>
  
      <mat-card-title>Buscar hospital</mat-card-title>
    
    </mat-card-header>
  </mat-card>

  <section>
    <h2>Listado de alumnos</h2>
  </section>
  
</mat-sidenav-container>